<div id="wish-list" class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Wish List</li>
      <li>
        <a class="thumbnail">
          <%= image_tag "attractions/castle-winery-sonoma-snapshot.png" %>
          <div class="caption">
            <p class="text-center">Castle Winery</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>