<div id="main-carousel" class="carousel side">
  <!-- carousel indicator -->
  <ol class="carousel-indicators">
    <% for banner_index  in 0..@banner_images.length - 1%>
      <% if banner_index == 0 %>
        <li data-target="#main-carousel" data-slide-to="<%= banner_index %>" class="active"></li>
      <% else %>
        <li data-target="#main-carousel" data-slide-to="<%= banner_index %>"></li>
      <% end %>
    <% end %>
  </ol>

  <!-- Carousel items -->
  <div class="carousel-inner">
    <%= render partial: 'banner_item', collection: @banner_images %>
  </div><!-- carousel-inner -->

  <!-- popular destinations -->
  <div id="destination-list" class="container-fluid">

    <% @popular_destinations.in_groups_of(3, false) do |destination_row| %>
      <div class="row-fluid">
        <ul class="thumbnails">
          <%= render partial: 'destinations/destination', collection: destination_row %>
        </ul>
      </div><!-- end destination row -->
    <% end %>
  </div>

</div>