<header class="row-fluid">
  <div class="span12">
    <nav class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Dream Trip</a>
        <ul class="nav">
          <li><a href="#">Home</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="#">Wish List</a></li>
          <li><a href="#sign-in" role="button" data-toggle="modal">Sign in</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
